
body {
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
}

.container-border {
   
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}
a {
    text-decoration: none !important;
  
  }
  
  a:hover {
    text-decoration: underline !important;
  
  
  }
.haimage{
  height: 20em;
}