
body {
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
}

.container-border {
  
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* padding: 20px; */
    background-color: #fff;
}
.container-border2 {
  width: 90%;
  /* margin: auto; */margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* padding: 20px; */
  background-color: #fff;
}


.notification-container {
    position: relative;
    display: inline-block;
  }
  
  .notification-badge {
    position: absolute;
    height: 17px;
    width: 17px;
    right: 31px;

    background-color: rgb(204, 23, 23);
    color: white;
    border-radius: 50%;
    padding: 1px;
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
    font-size: 10px;
  }

  hr {
    color: green;
    margin-top: 2%;
    margin-bottom: 2%;
  }

.profileFreePic{
  padding: 0;
  width: 200px;
  height: 200px;
}

.other-border {
  width: 90%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* padding: 20px; */
  background-color: #fff;
}
.paddingReduceNavbar{
padding-top:0 ;
padding-bottom: 0;
}
.BBold{
  font-size: larger;
  font-weight: 400;
}